@use 'sass:map';
@use '@angular/material' as mat;
@import '@angular/material/theming';

.permanent {
  background: mat.get-color-from-palette(mat.$red-palette, 50);
  color: mat.get-color-from-palette(mat.$red-palette, 500);
  padding: 10px;
}
